<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.activity.mapper.GiftSettingsMapper">
    
    <resultMap type="GiftSettings" id="GiftSettingsResult">
        <result property="giftId"    column="gift_id"    />
        <result property="number"    column="number"    />
        <result property="giftName"    column="gift_name"    />
        <result property="giftValue"    column="gift_value"    />
        <result property="rechargeAmount"    column="recharge_amount"    />
        <result property="fullAmount"    column="full_amount"    />
        <result property="specialActivity"    column="special_activity"    />
        <result property="giftBrief"    column="gift_brief"    />
    </resultMap>

    <sql id="selectGiftSettingsVo">
        select gift_id, number, gift_name, gift_value, recharge_amount, full_amount, special_activity, gift_brief from gift_settings
    </sql>

    <select id="selectGiftSettingsList" parameterType="GiftSettings" resultMap="GiftSettingsResult">
        <include refid="selectGiftSettingsVo"/>
        <where>  
            <if test="number != null "> and number = #{number}</if>
            <if test="giftName != null  and giftName != ''"> and gift_name like concat('%', #{giftName}, '%')</if>
            <if test="giftValue != null  and giftValue != ''"> and gift_value = #{giftValue}</if>
            <if test="rechargeAmount != null "> and recharge_amount = #{rechargeAmount}</if>
            <if test="fullAmount != null  and fullAmount != ''"> and full_amount = #{fullAmount}</if>
            <if test="specialActivity != null  and specialActivity != ''"> and special_activity = #{specialActivity}</if>
            <if test="giftBrief != null  and giftBrief != ''"> and gift_brief = #{giftBrief}</if>
        </where>
    </select>
    
    <select id="selectGiftSettingsById" parameterType="Long" resultMap="GiftSettingsResult">
        <include refid="selectGiftSettingsVo"/>
        where gift_id = #{giftId}
    </select>
        
    <insert id="insertGiftSettings" parameterType="GiftSettings">
        insert into gift_settings
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="giftId != null ">gift_id,</if>
            <if test="number != null ">number,</if>
            <if test="giftName != null  and giftName != ''">gift_name,</if>
            <if test="giftValue != null  and giftValue != ''">gift_value,</if>
            <if test="rechargeAmount != null ">recharge_amount,</if>
            <if test="fullAmount != null  and fullAmount != ''">full_amount,</if>
            <if test="specialActivity != null  and specialActivity != ''">special_activity,</if>
            <if test="giftBrief != null  and giftBrief != ''">gift_brief,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="giftId != null ">#{giftId},</if>
            <if test="number != null ">#{number},</if>
            <if test="giftName != null  and giftName != ''">#{giftName},</if>
            <if test="giftValue != null  and giftValue != ''">#{giftValue},</if>
            <if test="rechargeAmount != null ">#{rechargeAmount},</if>
            <if test="fullAmount != null  and fullAmount != ''">#{fullAmount},</if>
            <if test="specialActivity != null  and specialActivity != ''">#{specialActivity},</if>
            <if test="giftBrief != null  and giftBrief != ''">#{giftBrief},</if>
         </trim>
    </insert>

    <update id="updateGiftSettings" parameterType="GiftSettings">
        update gift_settings
        <trim prefix="SET" suffixOverrides=",">
            <if test="number != null ">number = #{number},</if>
            <if test="giftName != null  and giftName != ''">gift_name = #{giftName},</if>
            <if test="giftValue != null  and giftValue != ''">gift_value = #{giftValue},</if>
            <if test="rechargeAmount != null ">recharge_amount = #{rechargeAmount},</if>
            <if test="fullAmount != null  and fullAmount != ''">full_amount = #{fullAmount},</if>
            <if test="specialActivity != null  and specialActivity != ''">special_activity = #{specialActivity},</if>
            <if test="giftBrief != null  and giftBrief != ''">gift_brief = #{giftBrief},</if>
        </trim>
        where gift_id = #{giftId}
    </update>

    <delete id="deleteGiftSettingsById" parameterType="Long">
        delete from gift_settings where gift_id = #{giftId}
    </delete>

    <delete id="deleteGiftSettingsByIds" parameterType="String">
        delete from gift_settings where gift_id in 
        <foreach item="giftId" collection="array" open="(" separator="," close=")">
            #{giftId}
        </foreach>
    </delete>
    
</mapper>