<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('油站收入列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>姓名：</p>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <p>序号：</p>
                                <input type="text" name="number"/>
                            </li>
                            <li>
                                <p>油站：</p>
                                <input type="text" name="station"/>
                            </li>
                            <li class="select-time">
                                <p>日期：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                            <li>
                                <p>充值：</p>
                                <input type="text" name="recharge"/>
                            </li>
                            <li>
                                <p>消费：</p>
                                <input type="text" name="consumption"/>
                            </li>
                            <li>
                                <p>返利：</p>
                                <input type="text" name="rebate"/>
                            </li>
                            <li>
                                <p>抵扣券：</p>
                                <input type="text" name="coupon"/>
                            </li>
                            <li>
                                <p>通用券：</p>
                                <input type="text" name="generalCertificate"/>
                            </li>
                            <li>
                                <p>现金券：</p>
                                <input type="text" name="cashCoupon"/>
                            </li>
                            <li>
                                <p>折扣券：</p>
                                <input type="text" name="discountCoupon"/>
                            </li>
                            <li>
                                <p>金额：</p>
                                <input type="text" name="couponDeduction"/>
                            </li>
                            <li>
                                <p>赠送：</p>
                                <input type="text" name="give"/>
                            </li>
                            <li>
                                <p>抵扣：</p>
                                <input type="text" name="deduction"/>
                            </li>
                            <li>
                                <p>积分余额：</p>
                                <input type="text" name="integral"/>
                            </li>
                            <li>
                                <p>通用券领取：</p>
                                <input type="text" name="cGeneralCertificate"/>
                            </li>
                            <li>
                                <p>现金券领取：</p>
                                <input type="text" name="cCashCoupon"/>
                            </li>
                            <li>
                                <p>折扣券领取：</p>
                                <input type="text" name="cCoupon"/>
                            </li>
                            <li>
                                <p>联系方式：</p>
                                <input type="text" name="phone"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="census:c_oil_station_revenue:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="census:c_oil_station_revenue:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="census:c_oil_station_revenue:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="census:c_oil_station_revenue:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('census:c_oil_station_revenue:edit')}]];
        var removeFlag = [[${@permission.hasPermi('census:c_oil_station_revenue:remove')}]];
        var prefix = ctx + "census/c_oil_station_revenue";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "油站收入",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'revenueId', 
                    title : '油站收入id',
                    visible: false
                },
                {
                    field : 'name', 
                    title : '姓名'
                },
                {
                    field : 'number', 
                    title : '序号'
                },
                {
                    field : 'station', 
                    title : '油站'
                },
                {
                    field : 'time', 
                    title : '日期'
                },
                {
                    field : 'recharge', 
                    title : '充值'
                },
                {
                    field : 'consumption', 
                    title : '消费'
                },
                {
                    field : 'rebate', 
                    title : '返利'
                },
                {
                    field : 'coupon', 
                    title : '抵扣券'
                },
                {
                    field : 'generalCertificate', 
                    title : '通用券'
                },
                {
                    field : 'cashCoupon', 
                    title : '现金券'
                },
                {
                    field : 'discountCoupon', 
                    title : '折扣券'
                },
                {
                    field : 'couponDeduction', 
                    title : '金额'
                },
                {
                    field : 'give', 
                    title : '赠送'
                },
                {
                    field : 'deduction', 
                    title : '抵扣'
                },
                {
                    field : 'integral', 
                    title : '积分余额'
                },
                {
                    field : 'cGeneralCertificate', 
                    title : '通用券领取'
                },
                {
                    field : 'cCashCoupon', 
                    title : '现金券领取'
                },
                {
                    field : 'cCoupon', 
                    title : '折扣券领取'
                },
                {
                    field : 'phone', 
                    title : '联系方式'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.revenueId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.revenueId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>