<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改优惠信息表')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-c_preferential_information-edit" th:object="${cPreferentialInformation}">
            <input name="preferentialId" th:field="*{preferentialId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">消费者：</label>
                <div class="col-sm-8">
                    <input name="consumer" th:field="*{consumer}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">加以日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="transactionTime" th:value="${#dates.format(cPreferentialInformation.transactionTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">充值额：</label>
                <div class="col-sm-8">
                    <input name="recharge" th:field="*{recharge}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">消费额：</label>
                <div class="col-sm-8">
                    <input name="consumptionVolume" th:field="*{consumptionVolume}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">金额：</label>
                <div class="col-sm-8">
                    <input name="money" th:field="*{money}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">返利：</label>
                <div class="col-sm-8">
                    <input name="rebate" th:field="*{rebate}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">抵扣券：</label>
                <div class="col-sm-8">
                    <input name="coupon" th:field="*{coupon}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">通用券：</label>
                <div class="col-sm-8">
                    <input name="generalCertificate" th:field="*{generalCertificate}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">现金券：</label>
                <div class="col-sm-8">
                    <input name="cashCoupon" th:field="*{cashCoupon}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">折扣券：</label>
                <div class="col-sm-8">
                    <input name="discountCoupon" th:field="*{discountCoupon}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">通用券领取：</label>
                <div class="col-sm-8">
                    <input name="cGeneralCertificate" th:field="*{cGeneralCertificate}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">现金券领取：</label>
                <div class="col-sm-8">
                    <input name="cCashCoupon" th:field="*{cCashCoupon}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">折扣券领取：</label>
                <div class="col-sm-8">
                    <input name="cCoupon" th:field="*{cCoupon}" class="form-control" type="text" required>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "census/c_preferential_information";
        $("#form-c_preferential_information-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-c_preferential_information-edit').serialize());
            }
        }

        $("input[name='transactionTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>