<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.member.mapper.MMemberListMapper">
    
    <resultMap type="MMemberList" id="MMemberListResult">
        <result property="memberId"    column="member_id"    />
        <result property="memberNumber"    column="member_number"    />
        <result property="phone"    column="phone"    />
        <result property="stationName"    column="station_name"    />
        <result property="userName"    column="user_name"    />
        <result property="identity"    column="identity"    />
        <result property="balance"    column="balance"    />
        <result property="totalRechargeLimit"    column="total_recharge_limit"    />
        <result property="registrationTime"    column="registration_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectMMemberListVo">
        select member_id, member_number, phone, station_name, user_name, identity, balance, total_recharge_limit, registration_time, status from m_member_list
    </sql>

    <select id="selectMMemberListList" parameterType="MMemberList" resultMap="MMemberListResult">
        <include refid="selectMMemberListVo"/>
        <where>  
            <if test="memberNumber != null "> and member_number = #{memberNumber}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="stationName != null  and stationName != ''"> and station_name like concat('%', #{stationName}, '%')</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="identity != null  and identity != ''"> and identity = #{identity}</if>
            <if test="balance != null "> and balance = #{balance}</if>
            <if test="totalRechargeLimit != null "> and total_recharge_limit = #{totalRechargeLimit}</if>
            <if test="registrationTime != null "> and registration_time = #{registrationTime}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectMMemberListById" parameterType="Long" resultMap="MMemberListResult">
        <include refid="selectMMemberListVo"/>
        where member_id = #{memberId}
    </select>
        
    <insert id="insertMMemberList" parameterType="MMemberList" useGeneratedKeys="true" keyProperty="memberId">
        insert into m_member_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberNumber != null ">member_number,</if>
            <if test="phone != null  and phone != ''">phone,</if>
            <if test="stationName != null  and stationName != ''">station_name,</if>
            <if test="userName != null  and userName != ''">user_name,</if>
            <if test="identity != null  and identity != ''">identity,</if>
            <if test="balance != null ">balance,</if>
            <if test="totalRechargeLimit != null ">total_recharge_limit,</if>
            <if test="registrationTime != null ">registration_time,</if>
            <if test="status != null  and status != ''">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="memberNumber != null ">#{memberNumber},</if>
            <if test="phone != null  and phone != ''">#{phone},</if>
            <if test="stationName != null  and stationName != ''">#{stationName},</if>
            <if test="userName != null  and userName != ''">#{userName},</if>
            <if test="identity != null  and identity != ''">#{identity},</if>
            <if test="balance != null ">#{balance},</if>
            <if test="totalRechargeLimit != null ">#{totalRechargeLimit},</if>
            <if test="registrationTime != null ">#{registrationTime},</if>
            <if test="status != null  and status != ''">#{status},</if>
         </trim>
    </insert>

    <update id="updateMMemberList" parameterType="MMemberList">
        update m_member_list
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberNumber != null ">member_number = #{memberNumber},</if>
            <if test="phone != null  and phone != ''">phone = #{phone},</if>
            <if test="stationName != null  and stationName != ''">station_name = #{stationName},</if>
            <if test="userName != null  and userName != ''">user_name = #{userName},</if>
            <if test="identity != null  and identity != ''">identity = #{identity},</if>
            <if test="balance != null ">balance = #{balance},</if>
            <if test="totalRechargeLimit != null ">total_recharge_limit = #{totalRechargeLimit},</if>
            <if test="registrationTime != null ">registration_time = #{registrationTime},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
        </trim>
        where member_id = #{memberId}
    </update>

    <delete id="deleteMMemberListById" parameterType="Long">
        delete from m_member_list where member_id = #{memberId}
    </delete>

    <delete id="deleteMMemberListByIds" parameterType="String">
        delete from m_member_list where member_id in 
        <foreach item="memberId" collection="array" open="(" separator="," close=")">
            #{memberId}
        </foreach>
    </delete>
    
</mapper>