<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.systematic.mapper.SyCouponTypeMapper">
    
    <resultMap type="SyCouponType" id="SyCouponTypeResult">
        <result property="syCouponTypeId"    column="sy_coupon_type_id"    />
        <result property="couponType"    column="coupon_type"    />
        <result property="number"    column="number"    />
    </resultMap>

    <sql id="selectSyCouponTypeVo">
        select sy_coupon_type_id, coupon_type, number from sy_coupon_type
    </sql>

    <select id="selectSyCouponTypeList" parameterType="SyCouponType" resultMap="SyCouponTypeResult">
        <include refid="selectSyCouponTypeVo"/>
        <where>  
            <if test="couponType != null  and couponType != ''"> and coupon_type = #{couponType}</if>
            <if test="number != null  and number != ''"> and number = #{number}</if>
        </where>
    </select>
    
    <select id="selectSyCouponTypeById" parameterType="Long" resultMap="SyCouponTypeResult">
        <include refid="selectSyCouponTypeVo"/>
        where sy_coupon_type_id = #{syCouponTypeId}
    </select>
        
    <insert id="insertSyCouponType" parameterType="SyCouponType" useGeneratedKeys="true" keyProperty="syCouponTypeId">
        insert into sy_coupon_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="couponType != null  and couponType != ''">coupon_type,</if>
            <if test="number != null  and number != ''">number,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="couponType != null  and couponType != ''">#{couponType},</if>
            <if test="number != null  and number != ''">#{number},</if>
         </trim>
    </insert>

    <update id="updateSyCouponType" parameterType="SyCouponType">
        update sy_coupon_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="couponType != null  and couponType != ''">coupon_type = #{couponType},</if>
            <if test="number != null  and number != ''">number = #{number},</if>
        </trim>
        where sy_coupon_type_id = #{syCouponTypeId}
    </update>

    <delete id="deleteSyCouponTypeById" parameterType="Long">
        delete from sy_coupon_type where sy_coupon_type_id = #{syCouponTypeId}
    </delete>

    <delete id="deleteSyCouponTypeByIds" parameterType="String">
        delete from sy_coupon_type where sy_coupon_type_id in 
        <foreach item="syCouponTypeId" collection="array" open="(" separator="," close=")">
            #{syCouponTypeId}
        </foreach>
    </delete>
    
</mapper>