<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改油枪设置')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-s_oil_gun-edit" th:object="${sOilGun}">
            <input name="oilGunId" th:field="*{oilGunId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">加油站：</label>
                <div class="col-sm-8">
                    <input name="stationName" th:field="*{stationName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">油枪号：</label>
                <div class="col-sm-8">
                    <input name="gunId" th:field="*{gunId}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">油品类别：</label>
                <div class="col-sm-8">
                    <input name="oils" th:field="*{oils}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">油品号：</label>
                <div class="col-sm-8">
                    <input name="oilNumber" th:field="*{oilNumber}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_notice_status')}">
                        <input type="radio" th:id="${'status_' + dict.dictCode}" name="status" th:value="${dict.dictValue}" th:field="*{status}">
                        <label th:for="${'status_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">添加人：</label>
                <div class="col-sm-8">
                    <input name="addPeopre" th:field="*{addPeopre}" class="form-control" type="text" required>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "station/s_oil_gun";
        $("#form-s_oil_gun-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-s_oil_gun-edit').serialize());
            }
        }
    </script>
</body>
</html>