<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('活动列表列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>加油站：</p>
                                <input type="text" name="stationName"/>
                            </li>
                            <li>
                                <p>地址：</p>
                                <input type="text" name="address"/>
                            </li>
                            <li>
                                <p>商品图片：</p>
                                <input type="text" name="commodityPictures"/>
                            </li>
                            <li>
                                <p>活动主题：</p>
                                <input type="text" name="activityTheme"/>
                            </li>
                            <li>
                                <p>活动标题：</p>
                                <input type="text" name="activityTitle"/>
                            </li>
                            <li>
                                <p>活动内容：</p>
                                <input type="text" name="activityContent"/>
                            </li>
                            <li>
                                <p>促销规则说明：</p>
                                <input type="text" name="activityRule"/>
                            </li>
                            <li class="select-time">
                                <p>开始时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginStartTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endStartTime]"/>
                            </li>
                            <li class="select-time">
                                <p>结束时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginEndTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endEndTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="promotion:p_activity_list:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="promotion:p_activity_list:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="promotion:p_activity_list:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="promotion:p_activity_list:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('promotion:p_activity_list:edit')}]];
        var removeFlag = [[${@permission.hasPermi('promotion:p_activity_list:remove')}]];
        var prefix = ctx + "promotion/p_activity_list";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "活动列表",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'activityDetailsId', 
                    title : '活动详情id',
                    visible: false
                },
                {
                    field : 'stationName', 
                    title : '加油站'
                },
                {
                    field : 'address', 
                    title : '地址'
                },
                {
                    field : 'commodityPictures', 
                    title : '商品图片'
                },
                {
                    field : 'activityTheme', 
                    title : '活动主题'
                },
                {
                    field : 'activityTitle', 
                    title : '活动标题'
                },
                {
                    field : 'activityContent', 
                    title : '活动内容'
                },
                {
                    field : 'activityRule', 
                    title : '促销规则说明'
                },
                {
                    field : 'startTime', 
                    title : '开始时间'
                },
                {
                    field : 'endTime', 
                    title : '结束时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.activityDetailsId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.activityDetailsId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>